@import "partials/mixins";
@import "partials/header";
@import "partials/nav.scss";

$background1: lightblue;
$background2: pink;
$textcolorwords: white;
$textcolordate: lightgray;
$largetext: 3em;
$smalltext: 1em;
$medtext:1.5em;


.wrapper {
  background: $textcolorwords;
  width: 100%;

    .all-entries {
      position: relative;

        .date-time {
          float: center;
          margin: 9vw auto;
          border-bottom: 3px solid red;


          li.date {
            color: $textcolordate;
            display: inline-block;
            transform: translateX(140%);
            font-size: $medtext;
          }
          li.time {
            color: $background1;
            float: center;
            font-size: $largetext;
            transform: translateX(40%);
            clear: both;
          }
        }

        .text-block {
          position: relative;
          width: 85%;
          width: 78%;
          margin: 0vw 4vw 10vw 0vw;
          padding: 3vw 2vw 3vw 5vw;
          float: right;
          background: $background1;
          color: $textcolorwords;




          .icon {
            border-radius:50%;
            position: absolute;
            width: 8%;
            top: -2px;
            left: -39px;
          }
          h1 {
            font-size: $medtext;
            margin-bottom: 3vw;
          }
        }

    }

}
