.wrapper {
  background: white;
  width: 100%;
  line-height: 1.5; }

.all-entries {
  display: flex;
  flex-direction: column-reverse; }
  .all-entries .entry:nth-of-type(odd) .text-block {
    background: #3794E6; }
    .all-entries .entry:nth-of-type(odd) .text-block .triangle {
      color: #3794E6; }
  .all-entries .entry {
    position: relative;
    margin: 8% 1% 3% 2%; }
  @media only screen and (min-width: 768px) {
    .all-entries {
      margin: 0 7% 3% 30%; } }
  @media only screen and (min-width: 1024px) {
    .all-entries {
      margin: 0 2% 3% 19%; } }
  .all-entries .side-border {
    width: 10px;
    height: 200%;
    top: 0;
    background: #40B2E3;
    position: absolute;
    left: -44px;
    visibility: invisible; }
    @media only screen and (min-width: 768px) {
      .all-entries .side-border {
        visibility: visible;
        z-index: 0; } }

.date-time {
  margin: 4% 0;
  border-bottom: 2px solid #40B2E3;
  height: 13vh;
  z-index: 2;
  padding: 2vh 4vw 4vh; }
  @media only screen and (min-width: 768px) {
    .date-time {
      display: flex;
      border-bottom: none;
      position: absolute;
      top: -4vh;
      left: -31.6vw;
      width: 30%;
      height: auto; } }
  @media only screen and (min-width: 1024px) {
    .date-time {
      position: absolute;
      top: -5vh;
      left: -19.5vw;
      height: auto;
      width: 2vw; } }

.icon {
  background: #3794E6;
  border-radius: 50%;
  height: 53px;
  width: 55px;
  position: relative;
  top: -11vh;
  left: 5vw;
  height: 45px;
  width: 45px; }
  @media only screen and (min-width: 768px) {
    .icon {
      top: 22px;
      position: absolute;
      left: 181px; } }
  @media only screen and (min-width: 1024px) {
    .icon {
      top: 27px;
      position: absolute;
      left: 219px; } }
  .icon .fa {
    position: absolute;
    color: white;
    border-radius: 50%;
    padding: 2%;
    font-size: 1.25em; }
    @media only screen and (min-width: 768px) {
      .icon .fa {
        font-size: 1.25em; } }
  .icon .icon-background {
    color: #40B2E3;
    font-size: 54px;
    top: -5px;
    left: -1px; }
  .icon .fa-mobile-phone {
    top: 11px;
    left: 18px; }
  .icon .fa-desktop {
    top: 13px;
    left: 11px; }

li.date {
  font-size: 23px;
  color: lightgray;
  padding: 0 0 0 41%; }
  @media only screen and (min-width: 768px) {
    li.date {
      font-size: 1.25em;
      padding: 0 0 3px 49px; } }
  @media only screen and (min-width: 1024px) {
    li.date {
      padding: 21px 0 3px 21px;
      position: absolute;
      top: 3px;
      left: 109px;
      width: 11vw;
      font-size: 1em; } }

li.time {
  font-size: 41px;
  color: #40B2E3;
  padding: 0 0 0 41%; }
  @media only screen and (min-width: 768px) {
    li.time {
      font-size: 2.25em;
      padding: 0 0 0 63px; } }
  @media only screen and (min-width: 1024px) {
    li.time {
      padding: 12px 0 0 2px;
      position: absolute;
      top: 25px;
      left: 125px; } }

.text-block {
  border-radius: 1%;
  background: #40B2E3;
  color: white;
  border-top: 2px solid #40B2E3;
  padding: 6% 2% 3% 3%;
  font-size: 20px;
  margin-top: 1%; }
  .text-block .triangle {
    color: #40B2E3;
    position: absolute;
    visibility: hidden; }
    @media only screen and (min-width: 768px) {
      .text-block .triangle {
        visibility: visible;
        top: 18px;
        left: -15px; } }
  .text-block h1 {
    font-size: 1.25em;
    margin-bottom: 3vw;
    line-height: 1.25em; }
    @media only screen and (min-width: 768px) {
      .text-block h1:after {
        content: " ";
        display: block;
        background: white;
        width: 100%;
        height: 0.25vh; } }

/*# sourceMappingURL=main.css.map */
