@import "partials/mixins";
@import "partials/header";
@import "partials/nav.scss";

$background1: lightblue;
$background2: pink;
$textcolorwords: white;
$textcolordate: lightgray;
$largetext: 3em;
$smalltext: 1em;
$medtext:1.5em;


.wrapper {
  background: $textcolorwords;
  width: 100%;

    .all-entries {
      position: relative;

        .date-time {
          float: center;
          margin: 9vw auto;
          border-bottom: 3px solid $background1;

          @include tablet {
            border-bottom: none;

          }
        }
      }

          li.date {
            color: $textcolordate;
            display: inline-block;
            font-size: $medtext;
            padding-left: 40%;

            @include tablet {
              padding-left: 0%
            }
          }


          li.time {
            color: $background1;
            font-size: $largetext;
            clear: both;
            padding-left: 40%;

            @include tablet {
              padding-left: 0%
            }
          }
        }

        .text-block {
          position: relative;
          width: 85%;
          width: 78%;
          margin: 0vw 4vw 10vw 0vw;
          padding: 3vw 2vw 3vw 5vw;
          float: right;
          background: $background1;
          color: $textcolorwords;

          @include tablet {
            width: 66%;
            margin: -12vw 5vw 13vw 0vw;
          }
          .icon {
            border-radius:50%;
            position: absolute;
            width: 8%;
            top: -2px;
            left: -11%;
          }
          h1 {
            font-size: $medtext;
            margin-bottom: 3vw;
          }
        }
